.container {
  margin: 50px auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
@media (max-width: 450px) {
  .container {
    transform: scale(0.85);
  }
}
@media (max-width: 350px) {
  .container {
    transform: scale(0.7);
  }
}

.title {
  display: flex;
  justify-content: center;
  color: #000;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.formContainer {
  width: 408px;
  height: auto;
  background: rgb(75, 84, 100);
  padding: 20px;
  border-radius: 10px;
}

.fields {
  display: flex;
  flex-direction: column;
}

.input {
  width: 400px;
  height: 30px;
  margin-bottom: 10px;
  margin-top: 2px;
}

.textarea {
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  margin-top: 2px;
}

.btn {
  width: 100px;
  height: 30px;
  margin-left: 160px;
  margin-bottom: 10px;
  background: rgb(45, 197, 45);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}

.alert {
  width: 300px;
  margin-left: 8.5%;
}
